body * {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1920px;
	max-height: 1080px;
	border: black solid 1px;
	margin: 0 auto;
	overflow: scroll;
}

button {
	cursor: pointer;
}

li {
	list-style: none;
}

a {
	color: #809CFF;
	text-decoration: none;
}

#header {
	display: grid;
	grid-template-columns: 2fr 7fr 3fr;
}

#backcolor {
	background: linear-gradient(150deg, #FFFFFF 20%, #dde4fd);
	display: grid;
	grid-template-columns: 7fr 3fr;
}

#header .head_left {
	text-align: center;
	margin: 0 auto;
}

#header .head_right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.left_div {
	margin-right: 20px;
}

.alarm_div {
	position: relative;
	height: 100px;
}

.alarm {
	position: absolute;
	margin: 0 auto;
}

.left_img {
	border-radius: 75px;
}
.profile{
	width: 47px;
}

#alarm {
	top: 30px;
	right: 3px;
}

#alarm_point {
	top: 54px;
	left: -15px;
}

#main {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

#main #contents {
	min-height: 800px;
}

#main #sidebar {
	background-color: white;
}

#main #rightbar {
	margin: 20px;
}

.re_btn_box {
	text-align: center;
}

.reserve_btn {
	background-color: white;
	border: 5px solid #c3d0ff;
	color: #c3d0ff;
	border-radius: 20px;
	margin: 25px;
	padding: 15px;
	padding-left: 45px;
	padding-right: 45px;
}

#num_box {
	float: left;
	flex-direction: column;
}

.img_box {
	display: flex;
	margin-bottom: 20px;
}

.num {
	position: relative;
	height: 39px;
	width: 37px;
}

.coment {
	margin-left: 10px;
	margin-top: 5px;
	line-height: 28px;
}

#main_input {
	width: 100%;
	height: 100%;
}

#main_input::-webkit-input-placeholder {
	background-image:
		url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: 30px;
}

#mainlogo {
	margin-top: 20px;
	margin-bottom: 20px;
}

#main_input {
	border: none;
	padding-left: 150px;
	font-size: 20px;
	outline: none;
}

.side_btn {
	border: none;
	background-color: white;
	font-size: 1em;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
}